<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap" rel="stylesheet">

    </head>

    <body>

        <header>
                <img class="logo" src="../src/client/img/yulia_logo.svg">
            <ul class="">
               <li>navigation</li>
            </ul>
        </header>

        <main>
            <section>
                <h1>Evaluate A News Article with Natural Language Processing</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="apitext" type="text" name="input" value="" placeholder="Enter your text">
                    <button class="btn btn--primary" value="submit" id="generate" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Generate</button>
                </form>
            <section>

            <div>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="score_tag" class="badge--selector"></div>
                    <div id="irony" class="badge--selector"></div>
                    <div id="confidence" class="badge--selector"></div>
                    <div id="subjectivity" class="badge--selector"></div>
                    <div id="text" class="badge--selector"></div>

                </div>
            </div>
        </main>

        <footer>
            <ul>
                <li><a href="https://github.com/ligeiaofulthar/nlp" class="footer--link">Github</a></li>
                <li><a href="http://www.linkedin.com/in/yuliagraphics" class="footer--link">Linkedin</a></li>
            </ul>
        </footer>


        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                    }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                    });
                });
            }
        </script>
    </body>
</html>
