<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="../src/client/scss/resets.css">
        <link rel="stylesheet" href="../src/client/scss/base.css">
        <link rel="stylesheet" href="../src/client/scss/header.css">
        <link rel="stylesheet" href="../src/client/scss/form.css">
        <link rel="stylesheet" href="../src/client/scss/footer.css">
        <link rel="stylesheet" href="../src/client/scss/appStyles.css"> -->

    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input id="apitext" type="text" name="input" value="" placeholder="Name">
                    <button class="btn btn--primary" id="generate">Generate</button>
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
