@import 'themeColors';
@import 'resets';
@import 'base';
@import 'footer';
@import 'form';
@import 'header';

$theme-font: 'Arial', sans-serif;

body {
  font-family: $theme-font;
  background-color: $color-primary;
  h1, h2 {
      color: $color-secondary
  }
}

input {
    background-color: $color-primary;
}